In [36]:
from k11.models.no_sql_models import SourceMap, Format
from k11.models import LinkStore

from k11.vault import connection_handler

In [37]:
from collections import Counter
from typing import *

In [61]:
import numpy as np 
import pandas as pd 
%matplotlib inline 
import matplotlib.pyplot as plt 
import pickle

In [39]:
connection_handler.mount_mongo_engines()

In [133]:
source_maps = list(SourceMap.objects)

In [134]:
def get_tags_count(source_maps: List[SourceMap]):
    ts_ = []
    for source_map in source_maps:
        for link_container in source_map.links:
            if link_container.assumed_tags == None or len(link_container.assumed_tags) == 0:
                tags = source_map.assumed_tags.split(" ")
                ts_.extend(tags)
            else:
                tags = link_container.assumed_tags.split(" ")
                ts_.extend(tags)
    return Counter(ts_)

In [135]:
tags = get_tags_count(source_maps)

In [136]:
df = pd.DataFrame()
df["cat"] = tags.keys()
df["count"] = tags.values()

In [137]:
df.sort_values(by ='count', ascending = 0, inplace=True)

In [142]:
df[12:50]

                                                  cat  count
18                               consumer_electronics     16
25                                     womens_fashion     14
42                            exercise__mental_health     13
37                                            society     13
23                                            fashion     11
32                                              facts     11
27                        space_technology__astronomy     10
6                                        relationship     10
29                                            science     10
14                                                        10
11                                      miscellaneous     10
35           backend__framework__game__software__apps      8
22                                         art__craft      6
24                              technology__computing      6
46                                       mens_fashion      5
48                       nature__weather__environment      5
54                                        career__job      5
38                   war_industry__technology__unrest      4
40                                 crime__cyber_crime      4
4   botany__cytology__marine_biology__zoology__mol...      3
5                                      sports__events      3
36                        celebirity_fashion__contest      3
60                        investing__personal_finance      3
12                                 art__entertainment      3
7                               innovation__invention      3
44                                 disease__disorders      2
45                             religion__spirituality      2
47                                            physics      2
50                              armed_forces__defence      2
0                                               humor      2
13                                            android      2
19                                 video_games__games      2
41                                        mathematics      1
53                                            finance      1
59                                                sex      1
58                                             health      1
57                                               pets      1
56                                     event_planning      1

In [131]:
remap = {
    '"films__tv__series",':"films__tv__series"
}

In [141]:
# def update(remap, source_maps):
#     for source_map in source_maps:
#         source_map.assumed_tags = get_new_tag_string(remap, source_map.assumed_tags)
#         # print(source_map.source_name)
#         for index, link_container in enumerate(source_map.links):
#             link_container.assumed_tags = get_new_tag_string(remap, link_container.assumed_tags)
#             source_map.links[index] = link_container
#         source_map.save()