In [46]:
import pandas as pd
import numpy as np

In [47]:
data = pd.read_csv('categories.csv')

In [48]:
data.fillna(value='None')

,LEVEL1,LEVEL 2,LEVEL 3,LEVEL 4,LEVEL 5
0,art and entertainment,books and literature,mythology,None,None
1,art and entertainment,books and literature,poetry,None,None
2,art and entertainment,books and literature,None,None,None
3,art and entertainment,celebrity fan and gossip,bollywood,None,None
4,art and entertainment,celebrity fan and gossip,hollywood,None,None
...,...,...,...,...,...
608,travel,transports,public transport,None,None
609,travel,transports,road travel,road accident,None
610,travel,transports,sea travel,cruises,None
611,travel,transports,train travel,None,None
612,travel,None,None,None,None

In [49]:
def trans(txt):
    return txt.replace(" and ","__").replace(" ","_").replace(",","_")

In [50]:
cats = []
for row in data.values:
    cat = []
    if str(row[0]) != 'nan':
        cat.append(row[0])
    if str(row[1]) != 'nan':
        cat.append(row[1])
    if str(row[2]) != 'nan':
        cat.append(row[2])
    if str(row[3]) != 'nan':
        cat.append(row[3])
    if str(row[4]) != 'nan':
        cat.append(row[4])
    if len(cat) > 0:
        cats.append(trans(".".join(cat)))

In [51]:
data.values[0]

array(['art and entertainment', 'books and literature', 'mythology', nan,
       nan], dtype=object)

In [52]:
#cats

In [53]:
from k11.discriminator.topic_manager import FrozenTopicInterface, Topics
import os

In [54]:
category = ['art__entertainment.humor',
 'art__entertainment.movies__tv.movies__series_trailers',
 'art__entertainment.celebrity_fan__gossip.bollywood',
 'travel',
 'society.relationship',
 'technology__computing.tech_news',
 'food__drink.cooking',
 'food__drink.food',
 'society.people.mens',
 'hobbies__interests.arts__crafts.photography',
 'technology__computing.consumer_electronics.camera__photo_equipments',
 'society.life',
 'technology__computing',
 'art__entertainment.movies__tv.reviews__interviews',
 'hobbies__interests.games',
 'misc.facts',
 'science.physics.space__astronomy',
 'science',
 'misc.weird',
 'hobbies__interests.paranormal',
 'misc.anomaly',
 'misc.mystery',
 'health__fitness',
 'science.social_science.history',
 'automotive__vehicle.cars.luxury_cars',
 'style__fashion.womens',
 'society.lifestyle',
 'travel.adventure',
 'health__fitness.mental_health',
 'health__fitness.disorders',
 'food__drink.healthy_eating',
 'society.people',
 'science.environment__nature',
 'business__industrial.aerospace__defense.war_industry__technology',
 'health__fitness.men_health',
 'health__fitness.exercise']

In [55]:
def furnish_cat(category):
    new_cats = []
    for cat in category:
        splited = cat.split(".")
        for index in range(len(splited)):
            new_cats.append(".".join(splited[:index+1]))
    return set(new_cats)

In [56]:
cats = furnish_cat(category)

In [61]:
len(cats)

52

In [57]:
dir_name = os.getcwd()
dir_name = "/".join((dir_name.split("/")[:-1]))

In [58]:
topic_manager = FrozenTopicInterface()
topic_manager.set_file_path(dir_name)

In [59]:
topic_manager.topics = Topics()
topic_manager.topics.names = cats
topic_manager.commit()

In [60]:
topic_manager.num_topics()

52

'/home/jarden/Desktop/k11/container/k11/discriminator'